CMakeLists.txt
.DS_Store
*.log
.idea
.vscode
.nfs*
cmake-build-debug
scratch
**/cscope.out
**/tags
venv/
_env/
__pycache__/
*.log
*.so
*.a
*.o
*.srms*.png
/src/build
doc/internal/adapters/images/dragon_with_python_multiprocessing.png
doc/internal/adapters/images/python_multiprocessing.png
doc/internal/communication/channels/images/ChannelArchitecture.png
doc/internal/components/managed_memory/images/managed_memory.png
doc/internal/components/scalable_locks/images/scalable_locks.png
doc/internal/infrastructure/images/deployment_multi_node.png
doc/internal/infrastructure/images/deployment_single_node.png
doc/internal/infrastructure/images/infrastructure.png
doc/internal/infrastructure/images/startup_seq_single_node.png
doc/internal/services/images/global_services.png
doc/internal/services/images/launcher_multi_node.png
doc/internal/services/images/launcher_single_node.png
doc/internal/services/images/services.png
doc/internal/services/images/shepherd.png
doc/internal/services/transport_agent/images/transport_agent.png
doc/plantuml.jar
external/external_deps/
external/capnproto
external/pycapnp
src/release
src/include/capnp
src/include/kj
src/lib/message_defs.capnp.h
src/*egg*
src/bin/dragon-hsta
src/dist/
src/doxygen/
src/dragon/dlogging/pydragon_logging.c
src/dragon/launcher/launch_selector.c
src/dragon/launcher/launchargs.c
src/dragon/launcher/pydragon_mrnetserver.cpp
src/dragon/launcher/pydragon_pmsgqueue.c
src/dragon/pydragon_*.c
src/dragon/transport/hsta/__init__.c
src/dragon/transport/hsta/__main__.c
src/dragon/transport/hsta/dragon_hsta
src/include/dragon/return_codes_map.h
src/bin
src/dragon/transport/hsta/dragon-hsta
src/lib/message_defs.capnp.c++
src/include/dragon/message_defs.capnp.h
test/channels_subtests/test.out
src/dragon/infrastructure/message_defs.capnp
src/include/dragon/message_tcs.hpp
test/native/flimsgfrom
test/native/flimsgto
src/lib/_message_tcs.hpp
src/.dragon-config.mk
test/native/c_ddict
test/native/cpp_ddict
test/utils/test_blocks
src/dragon/bin
src/include/python3*
src/dragon/.dragon-config.mk
test/multi-node/c_ddict
test/multi-node/cpp_ddict