_build/
*.png
!benchmarks/images/*.png
plantuml.jar
ref/dragon*.rst
ref/ai/dragon*.rst
ref/telemetry/dragon*.rst
ref/core/dragon*.rst
ref/client/dragon*.rst
ref/inf/dragon*.rst
ref/native/dragon*.rst
ref/native/Python/dragon*.rst
ref/mpbridge/dragon*.rst
ref/data/Python/dragon*.rst
ref/data/dragon*.rst
ref/workflows/dragon*.rst
ref/native/Python/dragon*.rst
*.svg
internal/services/transport_agent/tcp/*
